.contain {
    width: 100%;
    height: 70px;
    background-color: whitesmoke;
}

.icon {
    float: left;
    height: 70px;
    width: 70px;
    vertical-align: middle;
    border-radius: 30px;
}

.fLeft {
    float: left;
    width: 100px;
    padding-top: 25px;
}

.fRight {
    float: right;
    width: 100px;
    padding-top: 25px;
}

.showCase {
    background-image: url(./images/ivan-torres-MQUqbmszGGM-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: wheat;
    height: 400px;
    font-size: 20px;
}

.description {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.bei {
    background-color: whitesmoke;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pizza-pics {
    height: 400px;
    width: 15%;
    padding: 10px;
}

.pizza-pics :hover {
    opacity: 0.5;
}

.submission-form {
    /*max-width: 800px;
    margin: 3rem auto;
    /*border: 2px solid #E74C3C;*/
    background-image: url(./images/PizzaFirePlace.jpg);
    text-align: justify;
    padding: 2rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: wheat;
}

.input {
    display: block;
    width: 80%;
    color: blue;
    border-radius: 10px;
}

label {
    display: block;
    padding: .5rem 0 .25rem;
    text-transform: uppercase;
    font-size: 15px;
}

.delivery-options {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}

.mine {
    border: 0;
    background: #343050;
    padding: .5rem;
    color: whitesmoke;
    text-transform: uppercase;
    margin: 1rem 0;
    border-radius: 10px;
}

ol {
    text-transform: uppercase;
    color: khaki;
}

option {
    color: black;
}

.card {
    background-color: rgb(126, 32, 8);
    width: 300px;
    margin: .5rem;
}